/* template --------------------------------------------------------------------------------------------------------------------------*/

body {
    margin:0px;
    display:flex;
    flex-direction: column;
    background: white;
}

.navbar {
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color: black;

    margin:0px;
    padding:8px 12px;
}

a {
    text-decoration: none;
    color: white;
}

.navbar_logo {
    display:flex;
    align-items:center;
    font-family: Montserrat, sans-serif;
          font-style: normal;
          font-weight: 200;
          font-size: 24px;
          text-align: center;
          color: white;
}

.navbar_logo img {
    width: 170px;
    height: 60px;
    margin-left:20px;
    padding: 0px;
}

.navbar_menu {
    display:flex;
    justify-content: flex-start;
    align-items:center;
    list-style: none;
}

.navbar_menu li {
    padding: 8px 13px;
    margin: 0px 10px;
    font-family: Montserrat, sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          text-align: center;
          color: white;
}

.navbar_menu li:hober {
    color: babypink;
}

.navbar_icons {
    display:flex;
    justify-content: flex-start;
    align-items:center;
}

.navbar_icons img {
    width: 20px;
    height: 20px;
    padding-left: 10px;
    padding-right: 20px;
}

.navbar_menu a:hover {
    color: #7568FA;
}



/* -------------------------------------------------------------------------------------------------------------------------- template */




#blackbox{
    background-color:rgba(0, 0, 0, 0.8);
}

.banner_text{
    position:absolute;
    width: 100%;
    top: 155px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
}

.banner_title {
    margin:0;
    font-family: Noto Sans KR, san-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 5.2vw;
          text-align: center;
          color: wheat;
          text-shadow: black;
}

.banner_title:hover{
    text-decoration: underline;
}

.banner_description {
    top: 46vh; margin:0;
    font-family: Noto Sans KR, san-serif;
          font-style: normal;
          font-weight: 300;
          font-size: 2.4vw;
          text-align: center;
          color: white;
          text-shadow: black;
}

.contents{
    margin:25px 15vw;
}

.contents .container{
    display: grid;
    height: 100vh;
    grid-gap: 10px;
    grid-template-rows: 1fr 8fr 1fr 8fr 1fr 8fr;
}

.contents .group {
    /*background-color: rgb(236, 236, 236);*/
    margin: 0px;
    margin-bottom: 20px;
}

.contents .box_title {
        margin: 18px 5px;
        font-family: Noto Sans KR, san-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 2.5vh;
          text-align: start;
          color: black;
}


/*block contents -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.group{max-width:1450px;margin:0 auto;text-align:center}

.list_item{
    display:flex;
    padding-bottom: 15px;
}

.list_item li{
    float:left; position:relative; width:31.1%; margin:4.414% 0 0 3.32%; text-align:left;

    list-style:none;
    margin: 10px;
    box-shadow: 1px 1px 3px rgb(199, 199, 199);
}

.list_item li:nth-child(-n+3){margin-top:0}
.list_item li:nth-child(3n+1){margin-left:0}

.list_item .middle_tit{
    margin-bottom:10px;
}

.list_item .tit_title{
    font-size:2vh;
    font-family: Noto Sans KR;
    font-weight: 700;
    color: black;
    margin-top: 10px;
}

.list_item .tit_intro{
    font-size:1.7vh;
    font-family: Noto Sans KR;
    font-weight: 500;
    color: black;
}

.list_item li{
    background: #;
    border-radius: 20px;
    padding: 15px;
    margin: 5px;

}


.group .load_more p{
    display: inline;
    margin: 10px;
    padding: 10px 40px;
    background: black;
    border-radius: 60px;

    color: white;
    font-family: Noto Sans KR;
}

.list_item .inner_option{
    text-align: right;
    margin:5px 0px;
    float: right;
}

.list_item .item_date{
    float: right;
    text-align: right;
    display: block;
    margin-bottom: 10px;
}

.item_info, .item_option{
    display:flex;
    flex-direction: column;
    color: black;
    font-size:1.7vh;
    font-family: montserrat;
    font-weight: 500;
}

.list_item .item_txt{
    font-family: Noto Sans KR;
    text-align: right;
    font-weight: 700;
    margin-bottom: 5px;
}

.link_item .relation_type{
    margin: 5px 0px; margin-left:7px;
    font-size:1.7vh;
    font-family: Noto Sans KR;
    font-weight: 300;
    border:1px solid black;
    color:black;

    display:inline-block;height:30px;
    padding:0px 7px;
    line-height:28px;
}

.link_item .relation_type:first-of-type{margin-left:0}

.item_option .ico_chat{
    display:inline-block;
    background-color: white;
    padding:2px 6px;
    border-radius: 10px;
    font-weight: 700;
    color: rgb(156, 196, 64);
}

.item_option .ico_apply{
    display:inline-block;
    background-color: white;
    padding:2px 6px;
    border-radius: 10px;
    font-weight: 700;
    color: rgb(156, 196, 64);
}

.item_option .num_option{
    font-family: montserrat;
    font-weight: bold;
}


/*block contents ---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.float{
	position:fixed;
	width:223px;
	height:60px;
	bottom:30px;
	right:40px;
    background-color:#AFC6B9;
    color:#FFF;
	border-radius:50px;
    text-align:center;
    line-height: 60px;
    box-shadow: 2px 2px 3px #999;
    
    font-size:18px;
    font-family: Noto Sans KR;
    font-weight: 700;
}